* {Margin: 0;}
Html, body {height: 100%}
div {Color: #36013F;flex: 1;}
body {background-color: #E3E4FA; font-family: Arial, Helvetica, sans-serif;}
p {margin: 0.5em 0 0.5em 0;}
header {display: block; position:top; top:0; left:0; width:100%; background-color:#e1e1ec; padding: 10px;}
nav a: visited, nav: a link {color: #fff; text-decoration: none;}
nav > ul {display: inline; padding: 0;}
nav > ul > li {display: inline-block; list-style:none; margin: 0 5px 0 5px; color: #36013F;}
h1 { color: #421d7c; background-color: rgb(255, 255, 255);}
h2 {color:#421d7c; background-color: rgb(255, 255, 255);}
h3 {color:#9a21af;}
  .tutorial > p {font-size: 1.1em;}
  .columns {display: flex;}
  .columns > div {border: solid 1 px #ccc; flex: 1;}
  .columns > div: nth-of-type (2) {flex: 2}
  .desktop, .print {display:none;}
  @media print {.mobile, .desktop {display:none;} .print {display:block;} 
    @media screen and (min-width: 768px) .mobile {display: none;} .desktop {display:block;}}
    main {color:#36013F; font-family: Arial, Helvetica, sans-serif; font-size: large;}
    ul {list-style: none;}
    input[type="text"] {font-size: 15px;}
section {background-color: #cbcdf1; width: 100%; font-size: 1.5em; }